language: php

php:
  # aliased to a recent 7.1.x version
  - 7.1
  # aliased to a recent 7.2.x version
  - 7.2
  # aliased to a recent 7.3.x version
  - 7.3

before_script:
  - composer install --prefer-source --no-interaction --dev

script:
  - ./vendor/bin/phpunit --coverage-text --coverage-clover ./build/logs/clover.xml
